#player{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#contentPlayer{
    display: flex;
    flex: initial;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 988px;
    flex-grow: 1;
}

#playerDivs{
    overflow: hidden;
    position: relative;
    background-color: #0f0f0f;
    border-radius: 10px;
    /*aspect-ratio: 16/9;*/
    /*padding-top: 56.25%;*/
    /*min-width: 320px;*/
    height: 480px;
    width: 95%;
}

video{
    pointer-events: none; /* Hover Steuerelemente ausblenden */
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#playerDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

#playerDiv2{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.00);
    width: 30%;
    border-radius: 10px;
    margin:5px;
}

#middleView-playerDiv, #middleView-playerDiv2{
    width: 96px;
    height: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#exclamationSign-playerDiv, #exclamationSign-playerDiv2{
    width:96px;
    height:96px;
    z-index: 1001;
}

/** Player Controls ********************************************/
.controls{
    stroke: #ffffff;
    stroke-miterlimit:10;
    stroke-width:20px;
    position: absolute;
    padding: 5px;
    height: 100%;
    fill: none;
    cursor: pointer;
}

.controls:hover{
    padding: 1px;
}

#controls-playerDiv{
    display: flex;
    width: 100%;
    height: 50px;
    max-height: 71px;
    min-height: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.61);
    bottom: 0;
    padding: 5px 2em 15px;
    z-index: 2147483647;
    visibility: visible;
    align-items: center;
    justify-content: center;
    transition: 1s;
    backdrop-filter: blur(2px);
}

svg{
    width: 100%;
    height: 100%;
}

/** Play / Break Controls ---------------------------------------*/
#playPause-controls-playerDiv{
    position: relative;
    display: flex;
    flex: 1;
    width: auto;
    height: 100%;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}


#play{
    position: absolute;
    visibility: visible;
    fill: white;
    z-index: 1;
}

#play-polygon{
    fill: white;
}

.break{
    visibility: visible;
    fill: white;
    width: 20%;
    height: 100%;
    z-index: 2;
}

/** Sound controls ---------------------------------------------*/
#sound-controls-PlayerDiv{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
}

#soundMuteButton{
    visibility: visible;
    fill: white;
}

#soundUnmuteButton{
    visibility: visible;
    stroke-width: 40;
    fill: black;
}

.soundTooltip {
    position: relative;
}

.soundTooltip div[role=tooltip] {
    display: none;
}

.soundTooltip:hover div[role=tooltip] {
    display: block;
    position: absolute;
    left:100px;
    top: -35px;
    width: fit-content;
    padding: 0.5em;
    z-index: 100;
    color: #000;
    background-color: rgba(255, 235, 230, 0.52);
    border-radius: 0.2em;
}

/** Volume controls ---------------------------------------------*/
#volumeSound{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
}

/** Switch controls --------------------------------------*/
#switch-PlayerDiv{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex: 3;
    height: 100%;
}


/** ChangePosition controls / HalfScreen controls -------------------------------------*/
#changePosition-PlayerDiv{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
}
#halfScreen-PlayerDiv{
    display: none;
}

.halfScreen-path{
    stroke-width: 0;
    fill: white;
}

/** fullScreen controls -------------------------------------*/
#fullscreen-PlayerDiv{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
}

.fullscreen-polyline{
    stroke-width: 60;
}

/** Style from 900px ******************************************/
@media screen and (max-width: 1650px)  {

    #player{
        width: 100%;
    }
    #playerDiv{
        width: 100%;
    }

    #playerDivs{
        height: 480px;
    }

    #contentPlayer{
        align-items: center;
    }

    #playerSubtitle, #error{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 900px) {
    #playerDiv{
        width: 100%;
    }

    #playerDivs{
        height: 360px;
    }
}

@media screen and (max-width: 850px) {
    #playerDiv{
        width: 100%;
    }

    #playerDivs{
        height: 240px;
    }
}

@media screen and (max-width: 400px) {
    .controls{
        height: 70%;
    }

    #volume{
        width: 100%;
    }
}
